<div class="row page-titles">
  <div class='span12'>
    <% flash.each do |key, value| %>
      <div class = 'flash alert alert-warning' id='<% key %>'>
        <%= value %>
      </div>
    <% end %>
  </div>

  <div class='span6'>
    <%= content_tag :h1, yield(:header_title) %>
  </div>

  <div class='span6'>
    <% if yield(:functionality).present? %>
      <div id="dashboard-top-nav">
        <%= yield :functionality %>
      </div>
    <% end %>
  </div>
</div>

<hr>
