<% title("Admin Lounge") %>
<% header_title("Admin Lounge") %>

<p id='admin-welcome-text'>
  Welcome to Ticketee's Admin Lounge. Please enjoy your stay.
</p>

<ul class='nav nav-pills nav-stacked' id='admin-pills'>
  <li>
    <%= link_to "Users", admin_users_path %>
  </li>
  <li>
    <%= link_to "States", admin_states_path %>
  </li>
</ul>
