.flash {
  font-weight: bold;
}

#ticket menu {
  font-size: 75%;
}

.state {
  font-weight: bold;
  font-size: 80%;
}

#ticket .tag .delete {
  font-size: 125%;
  text-decoration: none;
}

.project-pill a,
.user-pill a,
.state-pill a,
.state-pill p {
  font-size: 13pt;
}

#admin-pills li a,
#user-details-pills li a {
  font-size: 13pt;
}

#admin-welcome-text {
  font-size: 13pt;
}
