* {
    padding: 0;
    margin: 0;
}

body {
  height: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: white;
}

#dashboard-top-nav {
  margin: 10px 0 10px 0;
  float: right;
}

textarea {
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type=file] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.flash {
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

ul#tickets {
  padding: 15px;
  list-style-type: none;
}

ul#tickets li {
  margin-bottom: 10px;
}

#permissions td, #permissions th {
  padding: 10px;
  margin: 0;
  text-align: center;
}

#permissions thead th {
  border-bottom: 1px solid #789B2F;
  padding: 10px;
}

ul#tickets .state {
  padding-right: 5px;
  /*  margin-right: 4em;*/
}

ul#tickets .state {
  float: left;
}

#ticket, .comment {
    margin: 15px 0 15px 0;
    padding: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

menu, #ticket .state, .states {
  float: right;
}

#ticket section {
  clear: both;
}

.state {
  display: inline;
  width: 4em;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-right: 10px;
  padding: 5px;
}

#ticket #tags {
  margin-top: 20px;
}

#ticket .tag {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 8px;
}

.new_comment {
  padding: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.comment, .new_comment {
  width: 75%;
}

.form-horizontal {
  margin-top: 10px;
}
